.theme-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
   
    bottom: 100px;
}
.custom-menu {
    font-size: 15px; /* Change this to the desired font size */
}

.custom-menu .ant-menu-item {
    font-size: inherit; /* Ensure menu items inherit the custom font size */
}


